*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 80px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.navbar-default {
    background-color: white;
    border: none;

}

.UnifiedNav-logoSVG {
    fill: #0069ff;
}

#logo{
    height: 30px;
    margin: 10px;
    color: blue;
    margin-right: 64px;
}

.navbar-default .navbar-nav>li>a {
    color: #031b4e;
    font-size: 14px;
}

.nav button{
    margin: 10px;
    background-color: transparent;
    border: 1px solid #0069ff;
    border-radius: 5px;
    color: #0069ff;

    padding: 8px 16px;
    font-weight: 900;
}

.icon{
    height: 20px;
}

.lista ul li{
    list-style: none;
    border-left: solid 2px black;
}

.riga{

    border-bottom: solid black 2px;
}

.riga p,a{
    display: inline;

}

.fine svg,p,a{
    display: inline;
}

.fine a{
    height: 20px;
}

.blu{
    background-color: #0049FF;
}

.md--form{

    margin-top: 80px;


}

.backgroundwhite{
    background-color: white;
    width: 80%;
    border-radius: 5px;
    margin-right: 0;
}


.jumbotron{
    background-color: #0049FF;
}

#pulsante{
    width:100%;
    background-color: #0069ff;
    font-size: 16px;
    color: white;
    padding: 10px 0;
    border-radius: 5px;

}
.md--form form{
    padding: 10px;
    margin-right: 0;

}
