*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 50px;

}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container-fluid {
    max-width: 1400px;
}

.navbar-default {
    background-color: white;
    border: none;


}

.UnifiedNav-logoSVG {
    fill: #0069ff;
}

#logo{
    height: 30px;
    margin: 10px;
    color: blue;
    margin-right: 64px;
}

.navbar-default .navbar-nav>li>a {
    color: #031b4e;
    font-size: 14px;
}

.nav button{
    margin: 10px;
    background-color: transparent;
    border: 1px solid #0069ff;
    border-radius: 5px;
    color: #0069ff;

    padding: 8px 16px;
    font-weight: 900;
}

.icon{
    height: 20px;
}

.md--lista ul li{
    list-style: none;
    border-left: solid 2px black;
}

.riga{

    border-bottom: solid black 2px;
}

.riga p,a{
    display: inline;

}

.fine svg,p,a{
    display: inline;
}

.fine a{
    height: 20px;
}

.blu{
    background-color: #0049FF;

}

.md--form{

    margin-top: 80px;
    margin-bottom: 80px;


}

.backgroundwhite{
    background-color: white;
    width: 80%;
    border-radius: 5px;

    float: right;
}


.jumbotron{
    background-color: #0049FF;
}

.jumbotron h1{
    color: white;
    font-size: 62px;
    font-weight: 900;
    padding-top: 100px;
}

.jumbotron p{
    color: white;
    font-size: 24px;
    font-weight: 300;
}

#pulsante{
    width:100%;
    background-color: #0069ff;
    font-size: 16px;
    color: white;
    padding: 10px 0;
    border-radius: 5px;

}

.md--form form{
    padding: 32px;
}

.sign-up{
    margin-bottom: 50px;
}

.ms--deploy{
    color: #031b4e;
    font-size: 30px;
    margin-bottom: 30px;
}

.md--sign{
    color: #5b6987;
    font-size: 16px;
    margin: 20px 0;
}

.google button{
    color: #031b4e;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    padding: 10px 50px;
}

.github button{
    color: #031b4e;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    padding: 10px 50px;
}

.partner img{
    height: 70px;
    object-fit: contain;
    margin: 50px 0;
}

.partner{
width: 80%;
margin: 0 auto;

}

#splunk{
    width:130px;
}

.sentence {
    margin-bottom: 60px;
}

#md--innovative{
    color: #A1AABF;
    font-size: 16px;
    margin-top:
}

.md--grey{
    background-color: #F3F5F9;
}

.md--dep h2{
    color: #031b4e;
    font-size: 36px;
    margin: 120px 0 20px;
}

.md--dep p{
    font-size: 20px;
    font-weight: 300;
    color: #031b4e;
}

.md--dep{
    width:80%;
    margin: 0 auto;
    margin-bottom: 64px;

}

.md--lista{
    width: 50%;
    margin: 0 auto;

}
